<div class="card" *ngIf="actions">
  <div class="card-body action-tab">
    <span *ngFor="let action of actions">
      <span [ngSwitch]="action.buttonShape">
        <button *ngSwitchCase="0" (click)="action.buttonAction()" type="button" class="btn action-tab-but {{action.buttonColor}}" title="{{action.text}}">
          <i class="now-ui-icons {{action.icon}}"></i>
          &nbsp; {{action.text}}
        </button>
        <button *ngSwitchCase="1" (click)="action.buttonAction()" type="button" class="btn action-tab-but {{action.buttonColor}} btn-round" title="{{action.text}}">
          <i class="now-ui-icons {{action.icon}}"></i>
          &nbsp; {{action.text}}
        </button>
        <button *ngSwitchCase="2" (click)="action.buttonAction()" type="button" class="btn action-tab-but {{action.buttonColor}} btn-icon btn-round" title="{{action.text}}">
            <i class="now-ui-icons {{action.icon}}"></i>
          </button>
        <button *ngSwitchDefault (click)="action.buttonAction()" type="button" class="btn action-tab-but {{action.buttonColor}}" title="{{action.text}}">
            <i class="now-ui-icons {{action.icon}}"></i>
            &nbsp; {{action.text}}
        </button>
      </span>
    </span>
  </div>
</div>