
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <!-- <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
      </ul> -->
      Designed by
      <a href="#" target="_blank">Samweld</a>&nbsp;
      <strong>Version</strong>
      2.0.1
    </nav>
    <div class="copyright">
      <strong>Copyright</strong>
      &copy;
      <strong>{{test | date: 'yyyy'}} Peace Group</strong>
      All rights reserved.
    </div>
  </div>
</footer>
