<div class="card" *ngIf="table">
  <div class="card-header">
    <h4 class="card-title">{{table.title}}</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="{{table.headColor}}">
          <th *ngFor="let head of table.head" class="{{head.align}}">
            {{head.text}}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let rows of table.body">
            <td *ngFor="let column of rows.columns" [ngSwitch]="column.type" class="{{column.align}}">
              <div *ngSwitchCase="'text'">
                {{column.text}}
              </div>
              <div *ngSwitchCase="'link'">
                <a routerLink="{{column.link}}">
                  {{column.text}}
                </a>
              </div>
              <div *ngSwitchCase="'button'">
                <button type="button" (click)="column.action()" class="btn btn-neutral">
                  {{column.text}}
                </button>
              </div>
              <div *ngSwitchDefault>
                {{column.text}}
              </div>
            </td>
            <!-- <td class="text-right">
              <div class="btn-group mr-3">
                <button type="button" class="btn btn-primary" (click)="alert('View Action')">
                  <i class="fas fa-eye"></i>
                </button>
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                  <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                      <button class="dropdown-item" (click)="alert('Edit Action')">Edit</button>
                      <button class="dropdown-item btn-danger" (click)="alert('Delete Action')">Delete</button>
                  </div>
                </div>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
