<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <app-action-tab [actions]="actions"></app-action-tab>
    </div>
    <div class="col-md-12">
      <app-table-view [table]="table"></app-table-view>
    </div>
  </div>
</div>
